
<div class="" id="login-container" ng-controller="loginController">
	<div class="row">
		<div class="col s12 bienvenida">
			<div class="fondo-overlay">
				<div class="row">
					<div class="col s8">
						<div class="caption">
							<h1>BIENVENIDO</h1>
							<p>Accede a tu cuenta</p>
						</div>
					</div>
					<div class="col s4" style="padding: 0px;">
						<div class="login">
							<div class="logo-login">
								<img src="img/logo-login.png" class="img-responsive" style="width: 250%" alt="">
							</div>
							<form>
								<div class="input-field">
									<input type="email" placeholder="Correo Electrónico" name=""  ng-model="user.username">
									<i class="material-icons">mail_outline</i>
								</div>
								<div class="input-field">
									<input type="password" placeholder="Contraseña" name="" ng-model="user.password">
									<i class="material-icons">lock_outline</i>										
								</div>
								<div style="margin: 10px;padding: 10px;text-align: center;color: #f74242;font-size: 13px;" ng-show="error">Sus datos no son correctos.</div>
								
								<div class="col s12 center"><a href="#" class="btn" ng-click="login(user)">ACCEDER</a> </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
